<main>
    <div>
        <mat-grid-list cols="4">
            <mat-grid-tile [colspan]="4" [rowspan]="1" [style.background]="'lightblue'">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Total de Pacientes</mat-card-title>
                        <mat-card-subtitle>
                            <small>Número total de pacientes no sistema</small>
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <h1>300</h1>
                    </mat-card-content>
                </mat-card>
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Total de Pacientes</mat-card-title>
                        <mat-card-subtitle>
                            <small>Número total de pacientes por estado</small>
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <h1>300</h1>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1" [style.background]="'lightblue'">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>IMC Médio por idade<main>
                        </main></mat-card-title>
                        <mat-card-subtitle>
                            <small>IMC médio em cada faixa de idade de dez em dez anos</small>
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <h1>300</h1>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1" [style.background]="'lightblue'">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Percentual de Obesidade<main>
                        </main></mat-card-title>
                        <mat-card-subtitle>
                            <small>Qual o percentual de obesos entre os homens e entre as mulheres?</small>
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <h1>300</h1>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="4" [rowspan]="1" [style.background]="'lightblue'">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Média de idade por Tipo Sanguíneo</mat-card-title>
                        <mat-card-subtitle>
                            <small>Qual a média de idade para cada tipo sanguíneo?</small>
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <h1>300</h1>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="4" [rowspan]="1" [style.background]="'lightblue'">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Banco de Sangue</mat-card-title>
                        <mat-card-subtitle>
                            <small>A quantidade de possíveis doadores para cada tipo sanguíneo receptor</small>
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <h1>300</h1>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>



    </div>
</main>